html {
    overflow: hidden;
}

body {
    display: grid;
    grid-template-columns: 300px calc(100% - 300px);
    grid-template-rows: 100%;
    height: 100vh;
}

#content {
    grid-row: 1/1;
    grid-column: 2/3;
    display: flex;
    height: 100%;
    flex-direction: column;
}

#panel {
    grid-row: 1/1;
    grid-column: 1/2;
    box-shadow: 0 0 15px #0002;
    background-color: #5552;
    height: 100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

#sql-panel {
    width: 100%;
    flex: 1;
}

#sql-result {
    width: 100%;
    flex: 1;
    overflow: auto;
}

#actions {
    padding: 10px;
    padding-bottom: 0;
}

#result-table {
    width: 100%;
}

#btn-import {
    border-radius: 0;
}

#table-scroll {
    overflow: auto;
    flex: 1;
}

#table-view {
    margin-top: 15px;
}

#table-view .menu-label {
    font-size: 1.2em;
    margin-bottom: 0;
    padding-left: 5px;
}

.type-int {
    color: #bd93f9;
}

.type-float {
    color: #50fa7b;
}

.type-text {
    color: #ff79c6;
}

#history-panel,
#drag-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .3s;
    font-size: 1.5em;
    pointer-events: none;
}

#history-panel {
    background-color: #0006;
    z-index: 9997;
}

#drag-panel {
    background-color: #fff3;
    z-index: 9998;
}

#error-panel {
    position: absolute;
    right: 15px;
    bottom: 15px;
    transition: opacity .3s;
    max-width: calc(100% - 30px);
}

.CodeMirror {
    height: 35%;
}

.CodeMirror-code {
    font-family: 'Consolas', monospace !important;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0008;
}